body{
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
}
.top-wrapper{
  background-image: url(img/main.png);
  background-size: cover;
  background-position: center;
  height: 800px;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}

header{
  display: flex;
  padding-top: 30px;
}

header img{
  height: 60px;
  width: 140px;
}
header img:hover{
  opacity: 0.7;
}
header ul{
  margin-left: auto;
  display: flex;
  list-style: none;
}

.menu-bar{
  display: none;
}

header ul li{
  text-align: center;
  width: 150px;
}

header ul li:hover{ 
  font-size: 24px;
  line-height: 24px;
  transition: 0.2s;
}

a{
  text-decoration: none;
  color: black;
}


#title{
  text-align: center;
  margin-top: 300px;
  font-size: 48px;
  font-weight: normal;
  /* opacity: 0; */
}

/* .show{
  transition: 0.4s;
  opacity: 1;
} */

.news-wrapper h1{
  text-align: center;
  margin-top: 100px;
  font-weight: normal;
  font-size: 36px;
}

.news{
  max-width: 800px;
  margin: 0 auto;
}

.news ul{
  list-style: none;
}

.news ul li{
  padding: 30px;
  border-bottom: 1px solid black;
  line-height: 36px;
}

.news ul li a:hover{
  opacity: 0.7;
}

.news ul li span{
  padding: 5px;
  border: 1px solid black;
  font-size: 12px;
  margin: 0 20px;
}

.news-wrapper ul li br{
  display: none;
}

.case-wrapper{
  text-align: center;
}

.case-wrapper h1{
  font-weight: normal;
  font-size: 36px; 
  margin: 100px 0;
}

.cases{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
  height: 600px;
}

.case{
  margin:  0px 10px;
  width: 40%;
}

.case img{
  max-width: 400px;
  margin: 0 auto;
}

.case h2{
  font-weight: normal;
}

.case a img{
  height: 64px;
  width: 80%;
}

.case a img:hover{
  opacity: 0.7;
}
.case-wrapper .container > p{
  margin: 100px 0;
}

.case-wrapper .container p a{
  font-size: 20px;
  padding: 8px 18px;
  border: 1px solid black;
}
.case-wrapper .container > p a:hover{
  opacity: 0.7;
}

.links{
  width: 100%;
}

.links ul{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.links ul li{
  line-height: 0;
  background-color: darkblue;
}

.links img{
  width: calc(100% - 0px);
}

.links img:hover{
  opacity: 0.7;
}

footer{
  background-color: rgb(0, 0, 0);
  height: 150px;
}

.footer-top{
  padding-top: 20px;
  display: flex;
  height: 100px;
}

.footer-top ul {
  margin-left: auto; 
  list-style: none;
  display: flex;
}
.footer-top ul li a{
  color: white;
}

.footer-top ul li a{
  color: white;
}

.footer-top ul li{
  width: 150px;
  line-height: 24px;
  text-align: center;
}

.footer-top img{
  width: 95px;
  height: 40px;
}

footer p{
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  align-self: flex-end;
  margin-top: 0px;
}

footer a:hover{
  font-size: 24px;
  transition: 0.2s;
}



@media(max-width:960px){
  .top-wrapper{
    height: 485px;
  }

  header ul{
    display: none;
  }

  .menu-bar{
    display: block;
    margin-left: auto;
  }

  .menu-bar img{
    width: 20px;
    height: 15px;
    margin-right: 16px;
  }

  .top-wrapper h1{
    font-size: 24px;
    margin-top: 150px;
  }

  .news{
    width: 100%;
  }

  .news ul{
    padding: 0;
  }

  .news-wrapper h1{
    font-size: 24px;
    margin-top: 50px;
  }

  .news-wrapper ul li br{
    display: block;
  }

  .cases{
    flex-wrap: wrap;
  }

  .case{
    width: 100%;
  }

  .case > img{
    width: 100%;
    max-width: 638px;
    height: auto;
  }

  .case a img{
    width: 100%;
    max-width: 300px;
    height: 47px;
    margin-bottom: 48px;
  }

  .case-wrapper .container > p{
    margin: 100px 0;
  }

  /* .links ul{
    flex-direction: column;
  } */

  footer{
    height: 400px;
    text-align: center;
  }

  .footer-top{
    flex-direction: column-reverse;
    height: 350px;
  }

  .footer-top ul{
    flex-direction: column;
    margin:0;
    padding: 0;
    margin: auto;    
  }

  .footer-top ul li{
    margin: 10px 0;
    height: 36px;
  }

  .footer-top img{
    margin: 16px auto;
  }
}